<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="serverBaseUrl" class="java.lang.String">
        <constructor-arg
                value="http://barshi.vm-host.net:8080/hc/api/security/auth"/>
    </bean>

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/hc"/>
        <property name="username" value="root"/>
        <property name="password" value="new1prog$"/>
        <!--<property name="password" value="password"/>-->
    </bean>

    <!--<bean id="dataSource"-->
          <!--class="org.apache.commons.dbcp.BasicDataSource">-->
        <!--<property name="driverClassName" value="org.h2.Driver"/>-->
        <!--<property name="url" value="jdbc:h2:tcp://localhost/~/hc"/>-->
        <!--<property name="username" value="sa"/>-->
        <!--&lt;!&ndash;<property name="password" value="new1prog$"/>&ndash;&gt;-->
        <!--<property name="password" value=""/>-->
    <!--</bean>-->

    <bean id="gSql" class="groovy.sql.Sql">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dbAccess" class="org.cghr.commons.db.DbAccess">
        <constructor-arg ref="gSql"/>
    </bean>

    <bean id="dbStore" class="org.cghr.commons.db.DbStore">
        <constructor-arg name="gSql" ref="gSql"/>
        <constructor-arg name="dataStoreFactory" ref="dataStoreFactory"/>
    </bean>


    <bean id="dataStoreFactory" class="java.util.HashMap">
        <constructor-arg>
            <map>

                        <entry key="user" value="id"></entry>

                        <entry key="userlog" value="id"></entry>

                        <entry key="authtoken" value="id"></entry>

                        <entry key="datachangelog" value="id"></entry>

                        <entry key="area" value="areaId"></entry>

                        <entry key="house" value="houseId"></entry>

                        <entry key="household" value="householdId"></entry>

                        <entry key="member" value="memberId"></entry>

                        <entry key="hcMember" value="memberId"></entry>

                        <entry key="enumVisit" value="id"></entry>

                        <entry key="hcVisit" value="id"></entry>

                        <entry key="householdCommonQs" value="householdId"></entry>

                        <entry key="householdFoodItems" value="householdId"></entry>

                        <entry key="hospInf" value="householdId"></entry>

                        <entry key="deathInf" value="householdId"></entry>

                        <entry key="householdHosp" value="id"></entry>

                        <entry key="householdDeath" value="id"></entry>

                        <entry key="memberBp1" value="memberId"></entry>

                        <entry key="memberBp2" value="memberId"></entry>

                        <entry key="memberTobaccoAlcohol" value="memberId"></entry>

                        <entry key="memberPersonalMedicalHistory" value="memberId"></entry>

                        <entry key="memberFamilyMedicalHistory" value="memberId"></entry>

                        <entry key="memberPhysicalActivities" value="memberId"></entry>

                        <entry key="ffqGeneral" value="memberId"></entry>

                        <entry key="ffqBeverages" value="memberId"></entry>

                        <entry key="ffqCereals" value="memberId"></entry>

                        <entry key="ffqPulses" value="memberId"></entry>

                        <entry key="ffqVeg" value="memberId"></entry>

                        <entry key="ffqRaw" value="memberId"></entry>

                        <entry key="ffqFruits" value="memberId"></entry>

                        <entry key="ffqJuice" value="memberId"></entry>

                        <entry key="ffqNonVeg" value="memberId"></entry>

                        <entry key="ffqSweets" value="memberId"></entry>

                        <entry key="ffqSpiceMix" value="memberId"></entry>

                        <entry key="ffqSnacks" value="memberId"></entry>

                        <entry key="ffqFoodAdditives" value="memberId"></entry>

                        <entry key="resampling" value="memberId"></entry>

            </map>
        </constructor-arg>
    </bean>


    <!--Integration Testing Beans -->
    <bean class="org.cghr.security.controller.RequestParser" id="requestParser">
    </bean>


    <bean id="transformer" class="org.cghr.dataViewModel.DhtmlxGridModelTransformer">
        <constructor-arg ref="gSql"/>
    </bean>

    <bean id="dataModelUtil" class="org.cghr.dataViewModel.DataModelUtil">
        <constructor-arg name="dataModelTransformer" ref="transformer"/>
        <constructor-arg name="dbAccess" ref="dbAccess"/>
    </bean>


    <bean id="userService" class="org.cghr.security.service.UserService">
        <constructor-arg name="dbAccess" ref="dbAccess"/>
        <constructor-arg name="dbStore" ref="dbStore"/>
        <constructor-arg name="onlineAuthService" ref="onlineAuthService"/>
    </bean>

    <bean id="auth" class="org.cghr.security.controller.Auth">
    </bean>

    <bean id="authFilter" class="org.cghr.security.controller.AuthFilter">
    </bean>


    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    </bean>

    <bean id="onlineAuthService" class="org.cghr.security.service.OnlineAuthService">
        <constructor-arg name="serverAuthUrl" value="http://localhost:8089/app/api/security/auth"/>
        <constructor-arg name="restTemplate" ref="restTemplate"/>
    </bean>
    <!--Integration Testing Beans Ends-->

</beans>
